{% extends 'banner.html.twig' %}
{% block content %}
    <body>
    <main>

            <h2>{{ page_heading_2 }}</h2>
            <p>{{ welcome_message }}</p>
            <p>{{ store_result }}</p>
            <p>{{ email_result }}</p>
            <div id = "link">
                <p class="curr_page"><a href="{{ home_page }}">Home</a></p>
            </div>
            <div id= "link">
                <p class="curr_page"><a href="{{ print_page }}">Print delivery report</a></p>
            </div>

    </main>
    </body>
{% endblock %}