{% extends 'layout.html.twig' %}
{% block content %}
    <body>
    <main>
        <div class="container" id="container">


            <div class="sign-in-container">
                <form action="{{ logInAction }}" method="{{ method }}">
                    <h1>Sign in</h1>
                    <input id="username" type="text" name="username" value="" size="10" maxlength="50" placeholder="Username">
                    <input id="password" type="password" name="password" value="" size="10" maxlength="50" placeholder="Password">
                    <input type="submit" value="Log in"/>
                    <p>{{ login_result }}</p>
                </form>

            </div>

            <div class="sign-up-container">
                <form action="{{ regAction }}" method="{{ method }}">
                    <h1>Create Account</h1>
                    <input id="username" type="text" name="username" value="" size="10" maxlength="50" placeholder="username">
                    <input id="email" type="email" name="email" value="" size="10" maxlength="50" placeholder="username@gmail.com">
                    <input id="password" type="password" name="password" value="" size="10" maxlength="50" placeholder="password">
                    <input type="submit" value="Register"/>
                </form>
            </div>
    </div>
    </main>
    </body>
{% endblock %}


